<div class="splitcontentleft">
<% if @company.clients.any? %>
  <table class="list clients">
    <thead><tr>
      <th><%= l(:label_client) %></th>
      <th style="width:15%"></th>
    </tr></thead>
    <tbody>
    <% @company.clients.sort.each do |client| %>
      <tr id="client-<%= client.id %>" class="<%= cycle 'odd', 'even' %>">
        <td class="name"><%= link_to h(client.name), client %></td>
        <td class="buttons">
          <%= delete_link company_client_path(@company, :client_id => client), :remote => true %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
</div>

<div class="splitcontentright">
  <%= form_for(@company, :remote => true, :url => company_clients_path(@company),
               :html => {:method => :post}) do |f| %>
    <fieldset><legend><%=l(:label_client_new)%></legend>

    <p><%= label_tag "client_search", l(:label_client_search) %><%= text_field_tag 'client_search', nil %></p>
    <%= javascript_tag "observeSearchfield('client_search', null, '#{ escape_javascript autocomplete_for_client_company_path(@company) }')" %>

    <div id="clients">
      <%= render_principals_for_new_company_clients(@company) %>
    </div>

    <p><%= submit_tag l(:button_add) %></p>
    </fieldset>
  <% end %>
</div>
