<%= title [l(:label_company_plural), companies_path], l(:label_company_new) %>

<%= labelled_form_for @company do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<p>
  <%= f.submit l(:button_create) %>
  <%= f.submit l(:button_create_and_continue), :name => 'continue' %>
</p>
<% end %>
